* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1rem "Helvetica Neue" Arial, sans-serif;
    background: #ecd7d7;
    color: #121214;

    h1 {
        font-size: 2rem;
    }
}
